extends layout
block body
  h2 All items
  if (items.length)
    ul
      each item in items
        li
          h3: a(href="/item/#{item.id}")= item.title
          = item.description
  else
    p No items to show
